node_modules
dist
.DS_Store
.idea
.gradle
*.iml
android/build/
build.properties
local.properties
android/app/src/main/res/drawable-*
android/app/src/main/res/mipmap-*
android/app/src/main/assets/

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData
*.dSYM
Credits.plist

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.tar.gz
*.DS_Store

## Obj-C/Swift specific
*.hmap
*.ipa

# Swift Package Manager
#


index.ios.bundle
index.ios.bundle.meta
Pods/
AppIcon.appiconset
ios/**/*.p12
